
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
  background-color: #6a994e;

  
}

h1 {
  font-family: Arial;
  color:blue;
}

h4 {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  
}

.copyright {
  font-family: Arial;
  font-size: 9px;
  font-style: italic;
}
#ingredients{
 
}
li{
  font-family: 'Caveat', cursive;
  font-size: 19px;
  line-height: 22px;
  
}

